.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 0px 50px ;
    height: 0;
}

.navbar{
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a {
    font-weight: 500;
    color: #4f2bee;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #4f2bee; /* Changes the color of the link on hover */
    text-decoration: underline; /* Adds an underline */
    display: inline-block; /* Allows the margin-top to work without shifting other elements */
    transform: translateY(-5px); /* Creates a smooth upward hover effect */
    transition: transform 0.3s ease, color 0.3s ease; /* Adds smooth animations */
  }