.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  height: 80px
}

/* Navbar container */
.navbar {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

/* Links */
.navbar a {
  font-weight: 500;
  color: var(--primary-bg);
  text-decoration: inherit;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
  text-decoration: underline;
  transform: translateY(-5px); /* Smooth upward hover effect */
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column; /* Stacks the header vertically */
    align-items: center; /* Aligns items to the left */
    padding: 20px;
    /* margin: 0 15px; */
  }
}
