.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0 50px;
  height: auto;
}

/* Logo */
.logo img {
  max-width: 100%; /* Ensures the logo scales well */
  height: auto; /* Maintains aspect ratio */
}

/* Navbar container */
.navbar {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

/* Links */
a {
  font-weight: 500;
  color: #4f2bee;
  text-decoration: inherit;
  transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
  color: #4f2bee; /* Keeps the hover color */
  text-decoration: underline;
  transform: translateY(-5px); /* Smooth upward hover effect */
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column; /* Stacks the header vertically */
    align-items: center; /* Aligns items to the left */
    padding: 20px;
    margin: 0 15px;
  }

}
