:root {
  --primary-bg-hover: #3c1bb3;
  --primary-text: #FFFFFF;
  
  --primary-bg: #4f2bee;
  --secondary-bg: #f39c12;
  --secondary-bg-hover: #e67e22;

  --danger-bg: #e74c3c;
  --danger-bg-hover: #c0392b;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.app-container {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.app-button,
.secondary-button,
.danger-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 2px solid var(--primary-bg);

  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s ease;

  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.app-button:hover {
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

.secondary-button {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  border: 2px solid var(--secondary-bg);
}

.danger-button {
  background-color: var(--danger-bg);
  color: var(--primary-text);
  border: 2px solid var(--danger-bg);
}

.secondary-button:hover {
  background-color: var(--primary-text);
  color: var(--secondary-bg);
}

.danger-button:hover {
  background-color: var(--primary-text);
  color: var(--danger-bg);
}

.app-button:focus,
.app-button:focus-visible {
  background-color: var(--primary-text);
  color: var(--primary-bg);
  outline: 4px auto var(--primary-bg-hover);
}

.secondary-button:focus,
.secondary-button:focus-visible {
  background-color: var(--primary-text);
  color: var(--secondary-bg);
  outline: 4px auto var(--secondary-bg-hover);
}

.danger-button:focus,
.danger-button:focus-visible {
  background-color: var(--primary-text);
  color: var(--danger-bg);
  outline: 4px auto var(--danger-bg-hover);
}

.text-center {
  text-align: center;
}